



<ion-content  [fullscreen]="false" >

  <ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
     
      <ion-item >
        <ion-icon name="person-outline"></ion-icon>
        <ion-label> "{{ user.name }}"</ion-label>
      </ion-item>
     
      <ion-item >
        <ion-icon name="return-down-back-outline" (click)="Cerrarsecion()"></ion-icon>
        <ion-label>Cerrar Sesion</ion-label>
      </ion-item>
     


      <ion-item >
     
        <ion-icon name="information-circle-outline"></ion-icon>
        <ion-label>Acerca de</ion-label>
     
      </ion-item>

    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button><ion-icon name="home-outline"></ion-icon>  </ion-menu-button>
      </ion-buttons>
      <ion-title> Bienvenido "{{ user.name }}"</ion-title>
    </ion-toolbar>
  </ion-header>
 

   
    <ion-content class="ion-padding" class="ion-text-center custom-content"> 
      

    <!-- boton para crear el viaje -->
       <ion-fab  slot="fixed"  horizontal="start" >
        <ion-fab-button (click)="addCrearViaje()">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>


        <ion-label> 
          <ion-button class="ion-button-center" >Crear Viaje</ion-button> 
              
   
     
         
          <ion-button class="ion-button-center" color="success"> <ion-icon name="car-sport-outline"></ion-icon>MI Auto</ion-button> 
          <br>
        </ion-label>
      

     <!-- lista de viajes -->
      
     <ion-content>
      <div *ngFor="let viaje of viajes">
        <!-- Mostrar detalles del viaje según la estructura de tus datos -->
        {{ viaje.nombre}}
        {{ viaje.marca}}
        {{ viaje.patente}}
        {{ viaje.capacidad}}
      </div>
    </ion-content>
      
      
      
      
      
  
 
       </ion-content>
  
       

<ion-tabs>
  <ion-tab-bar slot="bottom">
   
    <ion-tab-button tab="radio" (click)="modopasajero() ">
      <ion-icon name="accessibility-outline"></ion-icon>  Modo Pasajero
    </ion-tab-button>
    <ion-tab-button tab="radio" >
      <ion-icon name="car-sport-outline"></ion-icon>  Modo Chofer 
     </ion-tab-button>

 
  </ion-tab-bar>
</ion-tabs>
