



<ion-content  [fullscreen]="false" >

  <ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
     
      <ion-item >
        <ion-icon name="person-outline"></ion-icon>
        <ion-label>Mi perfil "{{ user.name }}"</ion-label>
      </ion-item>
     
      <ion-item >
        <ion-icon name="return-down-back-outline" (click)="Cerrarsecion()"></ion-icon>
        <ion-label>Cerrar Sesion</ion-label>
      </ion-item>
     


      <ion-item >
     
        <ion-icon name="information-circle-outline"></ion-icon>
        <ion-label>Acerca de</ion-label>
     
      </ion-item>

    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button><ion-icon name="home-outline"></ion-icon>  </ion-menu-button>
      </ion-buttons>
      <ion-title> Bienvenido "{{ user.name }}"</ion-title>
    </ion-toolbar>
  </ion-header>
 

   
    <ion-content class="ion-padding" class="ion-text-center custom-content"> 
      
      
        <ion-label> 
          <ion-button class="ion-button-center">MI RUTA</ion-button>  
         
          <ion-button class="ion-button-center" color="success"> <ion-icon name="car-sport-outline"></ion-icon>MI Auto</ion-button> 
          <br>
        </ion-label>
      

        <ion-label> 
          <ion-searchbar color="secondary" placeholder="Buscar ruta"></ion-searchbar>

        </ion-label>
      
    
      
      <ion-item>
        <ion-label> 
          <ion-icon name="location-outline"></ion-icon>
          <p>Cerro chacabuco ,Concepcion , Bio Bio</p>
        </ion-label>
      </ion-item>
      
      <img src="assets/mapa1.jpg" alt="">
      
       </ion-content>
  


<ion-tabs>
  <ion-tab-bar slot="bottom">
   
    <ion-tab-button tab="radio" (click)="modopasajero() ">
      <ion-icon name="accessibility-outline"></ion-icon>  Modo Pasajero
    </ion-tab-button>
    <ion-tab-button tab="radio" >
      <ion-icon name="car-sport-outline"></ion-icon>  Modo Chofer 
     </ion-tab-button>

 
  </ion-tab-bar>
</ion-tabs>
