<ion-header> 
 
 <ion-toolbar color="primary">
  
    <ion-title>
    <ion-button (click)="dismissModal()" color="danger" >
    <ion-icon name="close-circle-outline"></ion-icon>
    </ion-button>
      Crear Viajes </ion-title>
    
   
  </ion-toolbar> 
</ion-header>

<ion-content>

  <form [formGroup]="form" class="ion-no-padding ion-text-center" (ngSubmit)="submit()" (keypress.enter)="submit()">
      



    <!-- nombre  -->
    
    <app-custom-input 
    autocomplete="nombre"
    [control]="form.controls.nombre"
    type="text"
    label="Nombre"></app-custom-input>


    <div class="validators" *ngIf="form.controls.nombre.errors && form.controls.nombre.touched">
      <div *ngIf="form.controls.nombre.errors?.['required']" color-text="danger"> El Nombre es requerido</div>
      <div *ngIf="form.controls.nombre.errors?.['minlength']">El nombre debe tener al menos 4 caracteres</div>
    </div>

    <!-- marca -->

    <app-custom-input 
    [control]="form.controls.marca"
    icon="lock-closed-outline"
    type="text"
    label="Marca"
    ></app-custom-input>

    <div class="validators " *ngIf="form.controls.marca.errors && form.controls.marca.touched">
      <div *ngIf="form.controls.marca.errors?.['required']"> la Marca es requerida</div>
      <div *ngIf="form.controls.marca.errors?.['minlenght']">La marca debe tener al menos 4 caracteres</div>

    </div>

      <!-- patente -->
    
    <app-custom-input 
    autocomplete="patente"
    [control]="form.controls.patente"
    type="text"
    label="Patente"></app-custom-input>


    <div class="validators" *ngIf="form.controls.patente.errors && form.controls.patente.touched">
      <div *ngIf="form.controls.patente.errors?.['required']" color-text="danger"> El Patente es requerida</div>
      <div *ngIf="form.controls.patente.errors?.['minlenght']">La patente debe tener al menos 6 caracteres</div>
      <div *ngIf="form.controls.patente.errors?.['maxlength']">La patente debe tener como máximo 6 caracteres</div>
    </div>

    <!-- capacidad -->
    

    <app-custom-input 
  autocomplete="capacidad"
  [control]="form.controls.capacidad"
  type="number"
  label="Capacidad"
></app-custom-input>
<div class="validators" *ngIf="form.controls.capacidad.errors && form.controls.capacidad.touched">
  <div *ngIf="form.controls.capacidad.errors?.['required']">La capacidad es requerida</div>
  <div *ngIf="form.controls.capacidad.errors?.['pattern']">Por favor, ingrese un número del 1 al 4</div>
  <div *ngIf="form.controls.capacidad.errors?.['min'] || form.controls.capacidad.errors?.['max']">
    La capacidad debe estar entre 1 y 4
  </div>
</div>


    <ion-button  mode="ios" class="submit"type="submit" [disabled]="form.invalid" >
      INGRESAR VIAJE
      <ion-icon slot="end" name="log-in-outline"></ion-icon>
    </ion-button>

    

  </form>

</ion-content>
